/* colors */
:root {
	--primary-color: #f8f8ff;
	--highlight-color: #1b2c47;
    --emphasis-color: #a82159;
    --shade-color: #d8d8df;
}
div[class*='col-xl']{
    background-color: var(--primary-color);
}
.bg-col-primary{
    background-color: var(--primary-color);
}
.bg-col-highlight{
    background-color: var(--highlight-color);
}
.bg-col-emphasis{
    background-color: var(--emphasis-color);
}
.bg-col-shade{
    background-color: var(--shade-color);
}
.border-col-highlight{
    border-color: var(--highlight-color);
}
.border-col-emphasis{
    border-color: var(--emphasis-color);
}
.border-col-primary{
    border-color: var(--primary-color);
}
.border-col-shade{
    border-color: var(--shade-color);
}
.col-primary{
    color: var(--primary-color);
}
.col-highlight{
    color: var(--highlight-color);
}
.col-emphasis{
    color: var(--emphasis-color);
}
a{
    color: var(--emphasis-color);
}
a:hover{
    color: var(--highlight-color);
    text-decoration: none;
}
.col-hov-highlight:hover{
    color: var(--highlight-color);
}
.col-hov-emphasis:hover{
    color: var(--emphasis-color);
}
.active{
    color: var(--emphasis-color) !important;
}
.bg-none{
    background-color: rgba(0,0,0,0) !important;
    background: none;
}

/* Font */



p, h1, h2, h3, h4, h5, footer, nav, body{
    /* font-family: 'Roboto', sans-serif; */
		font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
p{
    font-size: 1.3rem;
}
.font-head{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.font-head-light{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.font-head-bold{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.muteLink{
    color: #666;
}
.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}
.alignCenter{
    text-align: center;
}
.fa-nav{
    font-size: 200%;
    color: var(--highlight-color);
}
.fa-emphasis{
    color: var(--emphasis-color);
}
#title-nav{
    font-family: 'Raleway', sans-serif;
}
.i-mid{
    font-size: 1.4em;
}

/* Navbar */
.nav-right{
    padding: 1px !important;
    margin: 10px !important;
}
.icons-down-nav{
    width: 50px;
}

/* General spacing and layout */
.spacer-50{
    margin: 50px;
    width: 100%;
}
.spacer-100{
    margin:2rem;
}
.container-50{
    width: 40%;
}
.mainContent{
    min-height: 30rem;
    padding: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}
.sideContent{
    display: flex;
    justify-content: center;
    position: relative;
}
.centered{
    display: flex;
    justify-content: center;
}
.padded-10{
    padding: 10px;
}
.padded-30{
    padding: 30px;
}

/* Splash */
.icons-down-splash{
    color: var(--primary-color);
    /*position: absolute;
    bottom: 0;
    right: 45%;*/
    padding: 20px;
    font-size: 4em;
}
.img-scrolly-splash{
    padding: 100px;
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.img-scrolly-splash-logo{
    background-image: url(img/virus2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img-splash{
    width: 100%;
    height: auto;
}
#title-splash{
    color: var(--primary-color);
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
#logo-splash-project{
    max-height: 200px;
    max-width: 200px;
    /*position: absolute;
    bottom: 12rem;
    left: 11rem;*/
}
#logo-splash-lab{
    max-height: 300px;
    max-width: 300px;
    position: absolute;
    bottom: 0;
}

/* Images */
.bg-img-virus{
    background-image: url(img/virus2.jpg);
}
.bg-img-map{
    background-image: url(img/map1_lowRes.jpg);
}
.bg-img-aerial{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0),rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.883)),
    url(img/aerial1_lowRes.jpg);
}
.img-scrolly{
    padding: 100px;
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-scrolly-sm{
    padding: 100px;
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-dashboard{
    max-height: 30vh;
    max-width: auto;
    padding: 20px;
    margin-top: 50px;
}
.logos-about{
    width: auto;
    height: 60px;
    margin: 10px;
}

/* Footer */
.footer{
    padding: 20px;
}
.logo-footer-lg{
    max-width:12rem;
    max-height:6rem;
    margin: 1rem;
}
.logo-footer-sm{
    max-width:12rem;
    max-height:6rem;
    padding: 0.5rem;
}
.ft-small-logos{
    padding: 0.5rem;
}
.ft-large-logos{
    padding: 0.5rem;
}
.footer-links{
    position: relative;
    top: 50px;
}

/* Guide */
:root {
	--down-arrow-size: 7em;
}
#btn-go{
    width: 50%;
    padding: 20px;
    margin: 10px;
}
#nav-tabContent{
    height: 15rem;
}
.tab-pane{
   width: 700px !important;
}
.btn-continue{
    position: absolute;
    left: calc(50% - var(--down-arrow-size)/2);
}
.btn-continue-bg{
    padding: 4rem;
    border-radius: 50%;
    position: relative;
    top: calc(var(--down-arrow-size)*-0.6);
    z-index: 1;
}
.btn-continue-bg2{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
    border-radius: 50%;
    position: relative;
    top: calc(var(--down-arrow-size)*-0.4);
    z-index: 1;
}
.i-guide-carat{
    font-size: var(--down-arrow-size);
    position: relative;
    top: calc(var(--down-arrow-size)*-0.24);
    left: calc(var(--down-arrow-size)*0.035);
    z-index: 1;
}
.i-guide-check{
    font-size: calc(var(--down-arrow-size)*0.75);
    position: relative;
    top: calc(var(--down-arrow-size)*-0.285);
    left: calc(var(--down-arrow-size)*0.035);
    z-index: 1;
}
.ico-small{
    max-height: 2.5rem;
    max-width: 2,5rem;
}
