
#content {
  width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
	background-color: #FFFFFF;
}

#plot-area {
  height: 390px;
  width: 390px;
  z-index: 6;
  padding: 10px;
  /* position: absolute;
  top: 12px;
  left: 10px; */
}

#sidebar {
  z-index: 5;
  width: 400px;
  /* height: 100vh; */
  position: absolute;
  top: 0px;
  right: 0px;
  background: #fff;
}

#open_close {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  z-index: 7;
}

/* Data points */
circle.hovered {
  /* r: 10px; */
  stroke-width: 3px;
}

/* Map */
#map {
	width: 100%;
	height: 100vh;
	z-index: 1;
}
