@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    background-color: #fafafa;
    color: #212121;
    width: 20rem;
    padding: 1.5rem;
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    overflow: scroll;
    position: absolute;
  	top: 0rem;
  	right: 0rem;
    z-index: 6;
}

#open_close {
	position: fixed;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
	z-index: 7;
  -webkit-tap-highlight-color: transparent;
}

#open_close circle {
	cursor: pointer;
}

.cross_lines {
	pointer-events: none;
}

.sidebar footer {
    margin-top: auto;
    text-align: center;
    color: #9e9e9e;
}

#menu > div {
    margin-bottom: 0.75rem;
}

#menu label {
    margin-left: 1rem;
    font-size: 15px !important;
}

.checkbox {
    vertical-align: middle;
    appearance: none;
	-webkit-appearance: none;
	background-color: #eeeeee;
	border: 1px solid #bdbdbd;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.checkbox:hover {
	background-color: #e0e0e0;
    border-color: #9e9e9e;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 28px;
	color: #0288d1;
    top: -6px;
    position: relative;
}

#map {
  flex-grow: 1;
  z-index: 4;
}

#overlay_pd {
  z-index: 5;
}
