
:root {
  --support: #225fb3;
  --needs: #dd1661;
  --deselected: #e8e8e8;
  /* --color-primary: #f8f8ff; /* Primary color for landing page consistency */ */
}

.ui.support.header {
  color: var(--support) !important;
}

.ui.needs.header {
  color: var(--needs) !important;
}

#logo {
	position: absolute;
	top: 10px;
	left: 17px;
	height: 80px;
	z-index: 6;
  filter: drop-shadow(0 0 20px #ffffff);
}

#logo_area {
  position: absolute;
	top: 0px;
	left: 0px;
	height: 110px;
  width: 110px;
	z-index: 5;
  border-bottom-right-radius: 20px;
}

#content {
  width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
  position: relative;
}

#plot-container {
  /* margin-left: 12px; */
  /* margin-left: 0px; */
  position: relative;
}

#plot-area {
  height: 365px;
  width: 400px;
  z-index: 6;
  /* padding-left: 12px; */
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  /* top: 12px;
  left: 10px; */
}

.cc_tooltip {
  position: absolute;
  /* width: 150px; */
  height: 26px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border-radius: 6px;
  pointer-events: none;
  z-index: 20;
  /* display: inline; */
  left: 0px;
  right: 0px;
}

.cc_tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  right: 10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#sidebar {
  z-index: 5;
  width: 400px;
  /* height: 100vh; */
  position: absolute;
  top: 0px;
  right: 0px;
  background: #ffffff;
  padding-bottom: 5px;
  border-bottom-left-radius: 5px;
}

#sidebar .header {
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

/* #sidebar h3.header {
  margin-right: 52px;
} */

.landing-page-light {
  font-family: 'Raleway', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
}

#sidebar h3 .sub.header {
  margin: 0px;
}

#sidebar div.select_container {
  /* height: 40px; */
  width: 380px;
  margin: 10px;
  border: solid 1px #000000;
  border-radius: 6px;
  position: relative;
}

#sidebar div#support_container {
  color: var(--support);
  border: solid 1px var(--support);
  margin-top: 15px;
}

#sidebar div#needs_container {
  color: var(--needs);
  border: solid 1px var(--needs);
}

#sidebar div#support_container i#y_axis {
  font-size: 20px;
  position: absolute;
  bottom: -10px;
  left: 26px;
  display: block;
  background-color: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
  opacity: 1;
}

#sidebar div#support_container i#x_axis {
  font-size: 20px;
  position: absolute;
  bottom: -10px;
  right: 4px;
  display: block;
  background-color: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
  opacity: 0;
}

#sidebar div#needs_container i#axis_label {
  font-size: 20px;
  position: absolute;
  top: -10px;
  right: 4px;
  display: block;
  background-color: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
}

div.select_container h4 {
  position: absolute;
  top: -10px;
  left: 5px;
  display: block;
  background-color: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
}

#canvas {
  margin-left: 25px;
}

div#multi-select_support {
  width: 368px;
  margin: 12px 5px 12px 5px;
}

div#multi-select_needs {
  width: 368px;
  margin: 12px 5px 12px 5px;
}

#open_close {
  /* position: fixed; */
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  z-index: 7;
}

/* Data points */
circle.hovered {
  /* r: 10px; */
  stroke-width: 3px;
}

/* Map */
#map {
	width: 100%;
	height: 100vh;
	z-index: 1;
}

.map_popup div.mapboxgl-popup-content, .map_popup button {
  color: #ffffff;
  background-color: #000000;
  opacity: 0.8;
  /* border-radius: 6px; */
}

.map_popup div.mapboxgl-popup-content h4 {
  margin-top: 7px;
}

.map_popup div.mapboxgl-popup-content a {
  color: #cccccc;
}

.map_popup div.mapboxgl-popup-content a:hover {
  color: #ffffff;
  /* border-bottom: 1px solid; */
}

/* .map_popup div.mapboxgl-popup-content {
  border-radius: 6px;
} */

.mapboxgl-popup-anchor-bottom div.mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left div.mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right div.mapboxgl-popup-tip {
  border-top-color: #000000;
  opacity: 0.8;
}

.mapboxgl-popup-anchor-top div.mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left div.mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right div.mapboxgl-popup-tip {
  border-bottom-color: #000000;
  opacity: 0.8;
}

.mapboxgl-popup-anchor-right div.mapboxgl-popup-tip {
  border-left-color: #000000;
  opacity: 0.8;
}

.mapboxgl-popup-anchor-left div.mapboxgl-popup-tip {
  border-right-color: #000000;
  opacity: 0.8;
}
