
:root {
  --support: #225fb3;
  --needs: #dd1661;
  --color-primary: #f8f8ff; /* Primary color for landing page consistency */
}

.ui.support.header {
  color: var(--support) !important;
}

.ui.needs.header {
  color: var(--needs) !important;
}

#logo {
	position: absolute;
	top: 10px;
	left: 17px;
	height: 80px;
	z-index: 6;
  filter: drop-shadow(0 0 20px var(--color-primary));
}

#logo_area {
  position: absolute;
	top: 0px;
	left: 0px;
	height: 110px;
  width: 110px;
	z-index: 5;
  border-bottom-right-radius: 20px;
}

#content {
  width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
	background-color: var(--color-primary);
}

#plot-area {
  height: 390px;
  width: 390px;
  z-index: 6;
  padding-left: 12px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  /* position: absolute;
  top: 12px;
  left: 10px; */
}

#sidebar {
  z-index: 5;
  width: 400px;
  /* height: 100vh; */
  position: absolute;
  top: 0px;
  right: 0px;
  background: var(--color-primary);
  padding-bottom: 5px;
  border-bottom-left-radius: 5px;
}

#sidebar .header {
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

/* #sidebar h3.header {
  margin-right: 52px;
} */

#sidebar h3 .sub.header {
  margin: 0px;
}

div#multi-select_support, div#multi-select_needs {
  width: 390px;
  margin-left: 5px;
}

#open_close {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  z-index: 7;
}

/* Data points */
circle.hovered {
  /* r: 10px; */
  stroke-width: 3px;
}

/* Map */
#map {
	width: 100%;
	height: 100vh;
	z-index: 1;
}
